# IBM Granite Credentials (used for RAG & Citizen report parsing summary narrative)
GRANITE_API_URL=https://us-south.ml.cloud.ibm.com
GRANITE_API_KEY=itz4a53KmRVyW4f252eIsGTShuB1_94BnvEc-SyuXZ95
GRANITE_MODEL_ID=ibm/granite-3-8b-instruct
WATSONX_PROJECT_ID=dbe44205-0c58-4948-a41f-6f07b09e3e10

# Dev / Production Port Configuration (optional)
PORT=8080
